@import "variables";

// Set variable values that will change between dark/light mode
:root, html[data-theme='light'] {
    --background-color: #fff;
    --code-bg-color: #eee;
    --code-border-color: #555;
    --header-color: #000;
    --link-color: #990000;
    --link-underline-color: #aaa;
    --table-border-color: #dedede;
    --table-header-bg-color: #eee;
    --text-color: #212121;
}

html[data-theme='dark'] {
    --background-color: #242424;
    --code-bg-color: #111;
    --code-border-color: #666;
    --header-color: #fff;
    --link-color: #ff8080;
    --link-underline-color: #666;
    --table-border-color: #3a3a3a;
    --table-header-bg-color: #444;
    --text-color: #dedede;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $body-font-family;
    font-size: 18px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color);
    font-family: $header-font-family;

    a {

        &:link,
        &:hover,
        &:visited,
        &:active {
            color: var(--header-color);
            text-decoration: none;
            border-bottom: 0;
        }
    }
}

p {
    line-height: 1.5em;
}

a {
    color: var(--link-color);

    &:active,
    &:link,
    &:visited {
        border-bottom: 1px dotted var(--link-underline-color);
        text-decoration: none;
    }

    &:hover {
        border-bottom: 1px solid var(--link-color);
    }
}

table {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    background-color: var(--table-header-bg-color);
    font-family: $header-font-family;
    padding: 10px 0;
}

td {
    border: 1px solid var(--table-border-color);
    padding: 10px;
    min-width: 150px;
}

pre,
code {
    border-radius: 5px;
    padding: 3px;
    font-size: 17px;
    white-space: pre-wrap;
}

#content {
    margin: 100px auto 0;
    max-width: 950px;
    min-width: none;

    img {
        max-width: 100%;
    }

    .post-title {
        font-size: 46px;
        margin: 0;
    }

    .post-meta {
        color: #888;
        font-size: 15px;
        margin-top: 1em;
        text-transform: uppercase;
    }
}

#footer {
    color: #888;
    font-size: 16px;
    margin: 3em 0;
    text-align: center;
}
