$primary-color: #990000;
$primary-color-dark: #ff8080;
$header-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$sidebar-link-font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$fa-font-path: "../webfonts";
