---
layout: default
---

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <h1 class="blog-title post-title p-name" itemprop="name headline">Blog</h1>
        <div class="blog-entries">
            {%- for post in site.posts -%}
            <div class="blog-entry">
                <div class="entry-date">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}&nbsp;</span>
                </div>
                <div class="entry-title">
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</main>
{%- include footer.html -%}